<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name=”x-apple-disable-message-reformatting”>
</head>
<body style="padding:0">
<table width="800" style="margin:auto;border-spacing:0px;font-family:Seravek,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;font-size: 14px">
    <tbody>
    <tr>
        <td>
            <img src="https://viugo.io/design/img/banner.png" alt="img" width="300" height="186">
        </td>
        <td width="400" >
            <img src="https://mbzmfg.com/EmailTemplates/logo.png" alt="img" width="180" height="183" style="float: right">
        </td>
    </tr>
    <tr>
        <td colspan="2" width="800" style="padding-top: 30px">
            <img src="https://viugo.io/design/img/img_1.png" alt="img" width="550" height="267">
        </td>
    </tr>
    <tr>
        <td width="400" style="font-family:Seravek,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;padding-right:12px;vertical-align: top;">
            <h2 style="padding-top: 20px;padding-bottom: 10px">REGISTRATION CONFIRMATION</h2>
            <p style="width:50px; height: 5px;display:block;background-color: #0086c6"></p>
            <p><strong>Experience the Future of the UAE</strong></p>
            <p>The MBZMFG Virtual Forum will help you explore the ideas that will shape the future of the UAE.</p>
            <p>The program will start at 10am (UAE time) on 14 March 2021, but you can tune in anytime using:</p>
            <p><a href="https://mbzmfg.com" target="_blank">mbzmfg.com</a></p>
            <p><strong>Email Address</strong> {{Email Address}}</p>
            <p style="padding-bottom: 15px;"><strong>Password</strong> {{Password}}</p>

            <p>Prepare to be inspired!</p>
            <p>Join Us, Follow Us!</p>

            <p><strong>#MBZMajlisFutureGen</strong></p>
            <p style="font-family:'GE Dinar One',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;"><strong>#مجلس_محمد_بن_زايد_لأجيال_المستقبل</strong></p>
        </td>
        <td width="400" style="direction: rtl; font-family:'GE Dinar One',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;padding-left:12px;vertical-align: top;">
            <h2 style="padding-top: 20px;padding-bottom: 10px">تأكيد التسجيل</h2>
            <p style="width:50px; height: 5px;display:block;background-color: #0086c6"></p>
            <p><strong>استكشف مستقبل الإمارات</strong></p>
            <p>يسر مجلس محمد بن زايد لأجيال المستقبل أن يدعوك للمشاركة في منتداه الافتراضي الذي يمثل فرصة فريدة لابتكار واستشكاف الأفكار التي سترسم ملامح مستقبل دولة الإمارات العربية المتحدة.
            </p>
            <p>تنطلق فعاليات المنتدى في تمام الساعة ١٠ صباحاً بتوقيت دولة الإمارات من يوم 14 مارس 2021، لكن يمكنك الانضمام إلينا في أي وقت باستخدام:</p>
            <p><a href="https://mbzmfg.com" target="_blank">mbzmfg.com</a></p>
            <p><strong>بريدك الإلكتروني</strong> {{Email Address}}</p>
            <p style="padding-bottom: 15px;"><strong>كلمة المرور الخاصة بك</strong> {{Password}}</p>


            <p>استعد للإلهام!</p>
            <p>انضموا إلينا، وتابعونا!</p>
            <p style="font-family:Seravek,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;"><strong>#MBZMajlisFutureGen</strong></p>
            <p><strong>#مجلس_محمد_بن_زايد_لأجيال_المستقبل</strong></p>
        </td>
    </tr>
    <tr>
        <td width="400" style="padding-top: 40px">
            <div>
                <a href="https://www.youtube.com/channel/UCcdEf6MRda8B7fRKoVegHcA" style="padding-right: 10px"><img style="max-width: 30px;" src="https://mbzmfg.com/EmailTemplates/youtube.png" alt="img" class="img-fluid"></a>
                <a href="https://twitter.com/mbzfuturegen" style="padding-right: 10px"><img style="max-width: 30px;" src="https://mbzmfg.com/EmailTemplates/tw.png" alt="img" class="img-fluid"></a>
                <a href="https://www.instagram.com/mbzfuturegen"><img style="max-width: 30px;" src="https://mbzmfg.com/EmailTemplates/in.png" alt="img" class="img-fluid"></a>
            </div>
            <p style="width:50px; height: 5px;display:block;background-color: #0086c6"></p>
        </td>
        <td width="400" style="padding-top: 40px; direction: rtl">
            <div>
                <a href="https://www.youtube.com/channel/UCcdEf6MRda8B7fRKoVegHcA" style="padding-left: 10px"><img style="max-width: 30px;" src="https://mbzmfg.com/EmailTemplates/youtube.png" alt="img" class="img-fluid"></a>
                <a href="https://twitter.com/mbzfuturegen" style="padding-left: 10px"><img style="max-width: 30px;" src="https://mbzmfg.com/EmailTemplates/tw.png" alt="img" class="img-fluid"></a>
                <a href="https://www.instagram.com/mbzfuturegen"><img style="max-width: 30px;" src="https://mbzmfg.com/EmailTemplates/in.png" alt="img" class="img-fluid"></a>
            </div>
            <p style="width:50px; height: 5px;display:block;background-color: #0086c6"></p>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding-top: 60px" width="800">
            <img src="https://viugo.io/design/img/footer.png" alt="img" width="100" height="100" style="float: right">
        </td>
    </tr>


    </tbody>
</table>

</body>
</html>