@font-face {
    font-family: Seravek;
    src: url('fonts/Seravek.ttf');
}

@font-face {
    font-family: Seravek Medium;
    src: url('fonts/Seravek-Medium.ttf');
}
@font-face {
    font-family: Seravek Bold;
    src: url('fonts/Seravek-Bold.ttf');
}

@font-face {
    font-family: GE Dinar One Bold;
    src: url('fonts/GE-Dinar-One-Bold.otf');
}
@font-face {
    font-family: GE Dinar One Light;
    src: url('fonts/GE-Dinar-One-Light.otf');
}
@font-face {
    font-family: GE Dinar One Light Italic;
    src: url('fonts/GE-Dinar-One-Light-Italic.otf');
}
@font-face {
    font-family: GE Dinar One Medium;
    src: url('fonts/GE-Dinar-One-Medium.otf');
}
@font-face {
    font-family: GE Dinar One Medium Italic;
    src: url('fonts/GE-Dinar-One-Medium-Italic.otf');
}
@font-face {
    font-family: GE Dinar One Regular;
    src: url('fonts/GE-Dinar-One-Regular.otf');
}

body{
    padding: 0;
    margin: 0;
    font: 300 16px/24px Seravek, sans-serif !important;
    color: #1D1D1B;
    width: 100%;
}

body.preload{
    position: relative;
}

body.preload:before{
    content: url("assets/preloader.svg");
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 400;
    background-color: rgba(255,255,255, .7);
}

*{
    box-sizing: border-box;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

section{
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    margin: -2px 0;
}

section:not(.banner):not(.majlis-live-section){
    padding-top: 30px;
}

input,
select{
    border: none;
    background: none;
}

option{
    line-height: 25px;
    border-bottom: 1px solid black;
}

.container{
    width: 100%;
    text-transform: uppercase;
    display: flex;
}

.sidebar{
    width: 15.625vw;
    min-width: 300px;
    position: relative;
}

.bottom-nav-block{
    margin-bottom: 4vh;
    width: 32%;
}

.login-btn{
    display: flex;
    width: 100%;
    height: 2.8vh;
    margin-bottom: 1.55vh;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #808080;
    font-size: 1.65vh;
    font-family: 'Seravek Medium';
    z-index: 20;
    cursor: pointer;
}

.nav{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
}

.nav-item{
    position: relative;
    width: 100%;
    min-height: 14.45vh;
    display: flex;
    justify-content: center;
    border: 2px solid #fff;
    background: #6BBBE1
}

.sidebar-coming-soon-text{
    position: absolute;
    z-index: 2;
    bottom: 2.17vh;
    font: normal normal 300 1.55vh/1.27 Seravek;
    letter-spacing: 0px;
    color: #FFFFFF;
}


.nav-item:last-child{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.block-logo .ar-logo{
    display: none;
}

.nav-item:last-child > .language{
    z-index: 50;
    margin-top: 10vh;
    max-height: 20px;
}

.nav-item:last-child .language{
    position: relative;
}

.nav-item:last-child .language img{
    display: none;
}

.nav-item:last-child .language-object{
    display: flex;
    justify-content: center;
}

.nav-item:last-child .language-object span:after{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    color: #fff;
    font-size: 1.65vh;
    font-family: 'Seravek';
}

.nav-item:last-child .language-object span:first-child:after{
    content: 'EN';
    padding-right: 10px;
}

.nav-item:last-child .language-object span:last-child:after{
    content: 'AR';
    padding-left: 15px;
}

.nav-item:last-child .language-object span:last-child:before{
    content: '-';
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    left: -5px;
    margin-left: 5px;
    color: #fff;
}

.nav-item:last-child .language-object span a{
    position: absolute;
    width: 100%;
    height: 100%;
}

.nav-link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff !important;
    font: normal normal normal 25px/33px 'Seravek Bold';
    letter-spacing: 5px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    top: 0;
}

.lobby{background: #6BBBE1}
.majlis{background: #A33E86 !important;}
.hub{background: #B8C408 !important;}
.orange-bg{background: #DE7D12 !important;}
.nav-link.active-link{color: #6BBBE1 !important;}
.majlis .nav-link.active-link{color: #A33E86 !important;}
.hub .nav-link.active-link{color: #B8C408 !important;}

.active-link{
    background-color: #E6E6E6;
}

.active-link:after{
    content: '\25BA';
    font-size: 32px;
    color: #424448;
    display: block;
    position: absolute;
    right: 24px;;
    top: 50%;
    transform: translateY(-50%);
}

.block-logo{
    margin-top: 10vh;
    width: 100%;
}

.block-logo a{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    text-transform: capitalize;
}

.logo-img-block{
    height: 11vh;
}

.logo-img-block img{
    width: auto;
    height: 100%;
}

.block-logo h4,
.block-logo h5,
.block-logo p{
    color: rgba(255, 255, 255, .8);
}

.block-logo-name{
    font: normal normal normal 2.4vh/1 Seravek;
    margin-top: 3.1vh;
}

.block-logo-description{
    font: normal normal normal 1.65vh/1.2 Seravek;
    padding-bottom: 4px;
    border-bottom: 1px solid #fff;
}

.block-logo p{
    margin-top: 2px;
    font: normal normal normal 1.14vh/1 Seravek;
    letter-spacing: .26vh;
}

.maincontent{
    width: 84.375vw;
}

.banner{
    background: url('assets/banner-top-right-bg.png') top 0vh right/33vw no-repeat,
                 url('assets/sc1_texture1.svg') bottom -22vh left 22vw/32vw no-repeat
}

.banner-content-top-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5% 0 0 5%;
    margin-bottom: 15%;
}

.banner-content-top-left-text{
    display: flex;
    flex-direction: column;
    font: normal normal normal 3.93vh/1.34 'Seravek Bold';
    letter-spacing: 7.6px;
}

.banner-content-top-right-text{
    width: 20vw;
    padding-right: 2vw;
    font: normal normal normal 1.65vh/1.3 'Seravek';
    letter-spacing: 0;
    text-transform: none;
    text-align: justify;
}

.banner-content-bottom-text{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

.banner-content-bottom-text-block{
    max-width: 45.58%;
}

.banner-content-bottom-text-title{
    width: 100%;
    font: normal normal normal 6.92vh/1.22 'Seravek Bold';
    letter-spacing: 15px;
    text-align: center;
}

.banner-content-bottom-text-title p{
    display: inline-block;
    background-color: #fff;
}

.banner-content-bottom-text-date{
    width: 100%;
    padding-right: 8.6vw;
    font: normal normal normal 3.82vh/1.22 'Seravek Bold';
    letter-spacing: 0;
    text-align: right;
    text-transform: none;
}

.banner-content-register-btn{
    display: flex;
    justify-content: center;
    width: 100%;
}

.banner-content-register-btn p{
    display: flex;
    width: 100%;
    height: 2.8vh;
    margin-bottom: 1.55vh;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #808080;
    cursor: pointer;
    font-size: 1.65vh;
    font-family: 'Seravek Medium';
    z-index: 20;
}

.switch-lang-block {
     font-family: 'Seravek Medium';
}

.banner-bottom-button-group{
    width: 9.18vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 5vw;
    bottom: 4vh;
}

.registration-btn,
.program-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25vh 0;
    width: 100%;
    margin-bottom: 2vh;
    color: #FFFFFF;
    background: #808080;
    font-size: 2.48vh;
    border: 3px solid #808080;
    font-family: "Seravek Bold";
    cursor: pointer;
}

.program-btn{
    margin-bottom: 0;
    color: #808080;
    background: #ffffff;
    border: 3px solid #808080;
    font-size: 2.48vh;
    font-family: "Seravek Bold";
    cursor: pointer;
    visibility: visible;
}

.program-btn a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #808080;
}

.banner-image-block{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    width: 43.68vw;
    height: 48.86vh;
    z-index: 10;
    bottom: 0;
    left: 26.2%;
}

.banner-image-block img,
.registration-banner-image-block img{
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: scale(-1, 1);
}

.section-header{
    width: 100%;
    display: none;
    flex-direction: row;
    padding: 58px 0 30px 58px;
    text-transform: none;
}

.section-header-nav-title{
    font: normal normal normal 20px/27px 'Seravek Bold';
}

.section-header-sub-nav--title{
    font: normal normal normal 20px/27px Seravek;
}

.section-text-content{
    margin: 6.2% 0  0 7.8%;
    max-width: 40.37%;
}

.section-title,
.section-title h2{
    font: normal normal normal 28px/37px 'Seravek Bold' !important;
}

.section-title h2:after{
    content: '';
    display: block;
    width: 36px;
    height: 7px;
    margin-top: 12px;
    background: #6BBBE1;
}

.section-text{
    margin-top: 50px;
    font: normal normal normal 20px/1.32 Seravek !important;
    text-transform: none;
}

.lobby-about-section .section-text-content{
    margin-bottom: 345px;
    margin-top: 35px;
}

.section-text p{
    font: normal normal normal 20px/1.32 'Seravek' !important;
    text-align: justify;
}


.lobby-mission-section .section-text p{
    text-align: justify !important;
}

.section-text a{
    text-transform: uppercase;
    color: #6BBBE1 !important;
}

.lobby-jubilee-lab-section .section-text a{
    text-decoration: underline;
    padding: 10px 0;
    font: normal normal normal 20px/1.32 Seravek;
    letter-spacing: 0;
    color: #1D1D1B !important;
    text-transform: none;
}

.about-image-block{
    position: absolute;
    width: 78%;
    max-height: 727px;
    z-index: 10;
    bottom: 0;
    left: 34%;
    background: url('assets/rotate-bg.png') bottom right/55% 84% no-repeat,
                url('assets/sc4_texture.svg') bottom left/52% 46% no-repeat;
    display: flex;
    justify-content: flex-end;;
}

.about-image-block img{
    width: 70%;
    height: auto;
    object-fit: cover;
}

.lobby-about-section .small-bg{
    width: 279px;
    height: 279px;
    background: transparent url('assets/banner-small-bg.png') 0 0 no-repeat padding-box;
    mix-blend-mode: multiply;
    position: absolute;
    bottom: -15vh;
    left: 39%;
    z-index: 100;
}

.lobby-mission-section .small-bg{
    width: 279px;
    height: 235px;
    background: transparent url(assets/banner-small-bg.png) 0 0 no-repeat;
    position: absolute;
    bottom: -13vh;
    left: 46vw;
    z-index: 100;
    mix-blend-mode: multiply;
}

.lobby-mission-section .section-title h2:after{
    content: '';
    margin-top: 26px;
    background: #6BBBE1;
}

.mission-image-block{
    position: absolute;
    width: 39.42vw;
    height: 100vh;
    z-index: 10;
    bottom: -4vw;
    right: -6vw;
    background: url('assets/mission-bottom-right-bg-rotate.png') bottom -15vh left/contain no-repeat,
                url('assets/sc5_texture.svg') top right/75% 38% no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.mission-image-block img{
    width: 100%;
    height: 64%;
    object-fit: cover;
}

.lobby-speakers-section{
    background: url('assets/sc6_texture.svg') top 8vh right/22.63vw 36.48vh no-repeat,
                url('assets/mission-bottom-right-bg.png') top -66vh right -6vw/39.42vw 88vh no-repeat,
                url('assets/mission-bottom-right-bg.png') bottom -56vh right -20vw/46vw 70vh no-repeat;
}

.speakers-block,
.section-form-block{
    margin: 17px 0  0 7.8%;
}

.lobby-speakers-section .section-title{
    margin: 35px 0 15px 7.8%;
}

.venueses-block,
.partners-block,
.section-live-block{
    margin: 35px 0  0 7.8%;
}

.above-speakers{
    padding: 35px 0 0 7.8%;
    font-size: 20px;
    line-height: 1.3;
    font-family: 'Seravek';
    max-width: 800px;
    text-align: justify;
    text-transform: none;
}

.above-speakers p{
    font-family: 'Seravek';
}

.section-live-block{
    margin-bottom: 50px;
}

.speakers-block-list,
.venueses-block-list,
.partners-block-list,
.hub-gallery{
    width: 100%;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.hub-gallery-wrapper .speakers-block-list{
    max-width: 974px;
    margin: 50px 0;
}

.speaker-block,
.venues-block,
.partner-block,
.hub-gallery-block{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 200px;
    margin: 25px 0 0;
    background: #fff;
}

.hub-gallery-wrapper .speaker-block{
    max-width: 268px;
    margin-top: 15px;
}

.venues-block,
.partner-block{
    margin-top: 57px;
}

.speaker-block:hover .speaker-block-text h3,
.speaker-block:hover .speaker-block-text h4,
.speaker-block:hover .speaker-block-text p,
.venues-block:hover .venues-block-text h3,
.venues-block:hover .venues-block-text h4,
.venues-block:hover .venues-block-text p,
.partner-block:hover .partner-block-text p,
.partner-block:hover .partner-block-text h3,
.partner-block:hover .partner-block-text h4,
.partner-block:hover .speaker-block-text p,
.partner-block:hover .speaker-block-text h3,
.partner-block:hover .speaker-block-text h4{
    transform: translateX(-20px);
    opacity: 0;
    transition: all .3s ease-out;
}

.speaker-block .speaker-block-text h3,
.speaker-block .speaker-block-text h4,
.speaker-block .speaker-block-text p,
.venues-block .venues-block-text h3,
.venues-block .venues-block-text h4,
.venues-block .venues-block-text p,
.partner-block .partner-block-text p,
.partner-block .partner-block-text h3,
.partner-block .partner-block-text h4,
.partner-block .speaker-block-text p,
.partner-block .speaker-block-text h3,
.partner-block .speaker-block-text h4{
    transition: all .3s ease-out;
}

.speaker-block .hover-block,
.venues-block .hover-block,
.partner-block .hover-block{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 21px 13px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .84);
    opacity: 0;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: all .3s;
}

.speaker-block .hover-block h4,
.venues-block .hover-block h4,
.partner-block .hover-block h4{
    font: normal normal 300 14px/20px Seravek;
    letter-spacing: 0;
}

.venues-block .hover-block,
.partner-block .hover-block{
    padding: 27px 20px;
    background-color: rgba(239, 239, 239, .84);
}

.speaker-block:hover .hover-block,
.venues-block:hover .hover-block,
.partner-block:hover .hover-block{
    opacity: 1;
    transform: none;
}

.hover-block p{
    color: #1D1D1B;
    text-transform: none;
    font-size: 14px;
    line-height: 1.43;
    margin-top: 7px;
}

.hover-block h4{
    font-weight: bold;
    color: #0E5C9B;
}

.hover-block h4 p{
    text-transform: none;
    color: #0E5C9B;
}

.speaker-image-block{
    width: 100%;
    height: 240px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.hub-gallery-wrapper .speaker-image-block{
    height: 268px;
}

.speaker-image,
.hub-gallery-image{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.speaker-block-text,
.venues-block-text,
.partner-block-text{
    width: 100%;
    margin-top: 30px;
}

.speaker-name,
.venues-name,
.partner-name{
    font: normal normal 600 16px/20px Seravek;
    letter-spacing: 0;
    color: #6BBBE1;
}

.speaker-position,
.venues-subname,
.partner-position{
    margin-bottom: 10px;
    font: normal normal normal 16px/20px Seravek;
    letter-spacing: 0;
}

.speaker-description,
.venues-description,
.partner-description{
    font: normal normal 300 14px/19px Seravek;
    letter-spacing: 0;
    color: #707070;
    text-transform: none;
}

.lobby-venues-section{
    background: url('assets/mission-bottom-right-bg.png') top -29vh right -20vw/46vw 85vh no-repeat,
                url('assets/sc7_texture.svg') top 31vh right/16vw 100vh no-repeat;
}

.venues-block,
.partner-block{
   align-items: flex-start;
}

.venues-image-block,
.partner-image-block{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.venues-image,
.partner-image{
    object-fit: cover;
    width: 125px;
    height: 125px;
    border-radius: 50%;
}

.venues-name{
    color: #6BBBE1;
}

.lobby-partners-section{
    background: url('assets/rotate-bg.png') bottom -8vh right -8vw/35vw 61vh no-repeat,
                url('assets/sc7_texture.svg') top -34vh right/16vw 52vh no-repeat;
}

.partner-name{
    color: #6BBBE1;
}

.partners-block .section-title h2:after{
    margin-top: 20px;
    background: #6BBBE1;
}

.lobby-jubilee-lab-section{
    background: url('assets/rotate-bg.png') top -35vh right -8vw/35vw 61vh no-repeat,
                url('assets/sc8_texture.svg') top -9vh right -9vw/42vw 79vh no-repeat,
                url('assets/mission-bottom-right-bg-rotate.png') bottom -75vh right/37.5vw 96vh no-repeat;
}

.lobby-jubilee-lab-section .section-text-content,
.lobby-mission-section .section-text-content:nth-child(3){
    margin-top: 35px;
}

.lobby-jubilee-lab-section .section-title{
    font: normal normal normal 28px/20px 'Seravek Bold';
    letter-spacing: 0;
}

.lobby-jubilee-lab-section .section-text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font: normal normal normal 25px/33px Seravek;
}

.lobby-jubilee-lab-section .section-text span{
    text-decoration: underline;
    font: normal normal normal 25px/33px Seravek;
    letter-spacing: 0;
    color: #1D1D1B;
    text-transform: capitalize;
    cursor: pointer;
}

.jubilee-image-block{
    position: absolute;
    display: flex;
    width: 38.95%;
    max-height: 570px;
    z-index: 10;
    bottom: 21vh;
    right: 0.4vw;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.jubilee-image-block img {
    width: 74%;
    height: auto;
    object-fit: cover;
}

.lobby-contact-us-section{
    background: url('assets/mission-bottom-right-bg.png') top -32vh right/37.5vw 77vh no-repeat,
                url('assets/sc9_texture.svg') top 44vh right/23vw 41vh no-repeat;
}

.section-form-block{
    margin-top: 35px;
}

.contact-form-container{
    padding: 50px 0  0 0;
}

.contact-form{
    width: 100%;
    max-width: 38.51%;
    text-transform: none;
    display: flex;
    flex-direction: column;
}

.contact-form p,
.registration-form p{
    position: relative;
    width: 100%;
    padding: 40px 0 10px 50px;
    border-bottom: 1px solid #6BBBE1;
}

.contact-form .border-none{
    border-bottom: none;
    font: normal normal 300 27px/27px Seravek;
    color: rgba(29, 29, 27, 0.43);
}

.contact-form p:before,
.registration-form p:before{
    content: '';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 37px;
    left: 0;
    bottom: 10px;
}

.contact-form-fullname:before{
    background: url('assets/sc9_icon1.svg') center/contain no-repeat;
}

.contact-form-email:before{
    background: url('assets/sc9_icon2.svg') center/contain no-repeat;
}

.contact-form-emirate:before{
    background: url('assets/sc9_icon3.svg') center/contain no-repeat;
}

.contact-form-phone:before{
    background: url('assets/sc9_icon4.svg') center/contain no-repeat;
}

.contact-form-additional:before{
    background: url('assets/sc9_icon5.svg') center/contain no-repeat;
}

.contact-form input,
.registration-form input,
.registration-form select{
    width: 100%;
    font: normal normal 300 27px/27px Seravek;
    color: rgba(29, 29, 27, 0.43);
    outline: none;
}

.contact-form input::placeholder,
.registration-form input::placeholder{
    color: rgba(29, 29, 27, 0.43);
}

.contact-form textarea{
    width: 100%;
    font: normal normal 300 27px/27px Seravek;
    border: 1px solid #6BBBE1;
    outline: none;
    color: rgba(29, 29, 27, 0.43);
    resize: none;
}

.contact-form input[type=submit],
.registration-form input[type=submit],
.contact-form input[type=button],
.registration-form input[type=button]{
    width: 100%;
    max-width: 200px;
    padding: 15px 0;
    margin-top: 20px;
    margin-bottom: 20px;
    font: normal normal 300 16px/16px Seravek;
    background-color: #6BBBE1;
    outline: none;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

.majlis-live-section{
    background: url('assets/majlis-top-right-bg.png') top -36vh right -9vw/44vw 85vh no-repeat,
                url('assets/majlis-bottom-right-bg.png') bottom right/17vw  17vh no-repeat;
    display: flex;
    overflow: initial;
}

.section-live-block .section-title{
    max-width: 520px;
}

.section-live-block .section-title h2:after{
    margin-top: 17px;
    background: #A33E86;
}

.section-live-block .section-title h2 span{
    font: normal normal normal 28px/37px Seravek;
}

.live-video-block{
    margin-top: 40px;
    padding: 5px;
    width: 72.7vw !important;
    height: 53.75vh !important;
    background: #ffffff;
    border-radius: 5px;
    min-height: 450px;
}

/*.live-video-block div{*/
/*    display: flex;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

.live-video-block iframe:first-child{
    position: relative !important;
    width: 66% !important;
    height: 100% !important;
}

.live-video-block iframe:last-child{
    width: 33% !important;
    height: 100% !important;
    overflow-y: auto;
}

.live-video-left-content{
    width: calc(100% - 75px);
}

.majlis-right-sidebar-stiky{
    width: 75px;
    height: 100vh;
    padding: 20px 0;
    position: sticky;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    background: #FFFFFF;
    box-shadow: -4px 0 10px #00000026;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.live-video-right-content{
    display: flex;
    max-width: 75px;
    background-color: #FFFFFF;
    position: relative;
}

.majlis-right-sidebar{
    width: 100vh;
    height: 75px;
    padding: 20px 0;
    position: absolute;
    top: 0;
    right: 75px;
    bottom: 0;
    z-index: 20;
    background: #FFFFFF;
    box-shadow: -4px 0 10px #00000026;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    transform: rotate(270deg);
    transform-origin: top right;
}

.live-agenda{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2.6vw;
    color: #7D7D7D;
    letter-spacing: 4.8px;
    cursor: pointer;
}

.majlis-right-sidebar p{
    position: relative;
    padding-right: 4.2vw;
    font-size: 1.65vh;
}

.majlis-right-sidebar p:after{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    transform: rotate(90deg);
}

.live-agenda p:after{
    content: url('assets/sc2_icon1.svg');
    top: -8px;
}

.live-agenda-modal{
    position: absolute;
    height: 100vh;
    width: 475px;
    top:0;
    bottom: 0;
    right: 75px;
    padding: 20px 75px;
    margin-right: -17px;
    background: #fff;
    box-shadow: -4px 0 10px #00000026;
    overflow-y: scroll;
    transition: all .6s;
    transform-origin: right;
}

.hide-modal{
    opacity: 0;
    transform: scaleX(0);
    transform-origin: right;
}

.live-agenda-modal-header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #D5D5D5;
}

.live-agenda-modal-body{
    padding: 40px 0 0;
    color: #54565A;
}

.live-agenda-modal-body h2:first-child{
    letter-spacing: -0.37px;
    font: normal normal normal 28px/1 Seravek;
}

.live-agenda-modal-body h2:first-child:before,
.live-agenda-modal-body h2:first-child:after{
    content: '';
    display: block;
    width: 36px;
    height: 7px;
    margin: 36px 0;
    background: #66C1BF;
}

.live-agenda-modal-body li{
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-transform: capitalize;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #54565A;
    cursor: pointer;
}

.live-agenda-modal-body h3{
    letter-spacing: -0.37px;
    font: normal normal normal 28px/1 Seravek;
    margin: 30px 0 20px;
}

.live-agenda-modal-body p{
    text-transform: none;
    letter-spacing: 0;
    line-height: 1.5;
    font-size: 14px;
}

.hub-section{
    background: url('assets/hub-top-right-bg.png') top right/16vw no-repeat,
                url('assets/hub-large-bg.png') top 45vh right -7vw/35vw 66vh no-repeat;
}

.section-hub-container{
    margin: 35px 0 50px 12.6vw;
    padding: 23px;
    width: 100%;
    max-width: 826px;
    display: flex;
    background: #FFFFFF;
    box-shadow: 0  3px 6px #00000029;
    border: 0.7654259204864502px solid #C6C6C5;
}

.hub-block-title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 132px;
    margin-bottom: 27px;
    letter-spacing: 9.6px;
    color: #fff;
    font-size: 50px;
    line-height: 1.05;
    text-align: center;
}

.blue-hub-title{background: transparent linear-gradient(59deg, #0E84C7 0%, #2A96D2 22%, #6ABFEB 75%, #83D0F5 100%) 0 0 no-repeat padding-box;}
.burgundy-hub-title{background: transparent linear-gradient(59deg, #5F4F9C 0%, #914D98 39%, #E74A92 100%) 0 0 no-repeat padding-box;}

.lab-content{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.lab-block{
    position: relative;
    display: flex;
    height: 120px;
    margin-bottom: 25px;
}

.lab-block a{
    position: absolute;
    width: 100%;
    height: 100%;
}

.lab-img-block{
    width: 120px;
    height: 120px;

}

.lab-text-block{
    display: flex;
    align-items: center;
    width: calc(100% - 147px);
    padding-left: 20px;
    letter-spacing: 7px;
    background: url('assets/hub-bg-texture.svg') center;
    font-size: 24px;
    line-height: 1.1;
    font-family: 'Seravek Bold';
}

.lab-text-block p,
.thriving-left-content p{
    background-color: #fff;
}

.lab-content .lab-block:last-child{
    color: #54565A;
    align-items: center;
    text-transform: none;
    font-size: 18px;
    line-height: 1.1;
    padding-right: 50px;
}

.thriving-content{
    width: 100%;
}

.jobs-of-tomorrow p:first-child{
    margin-right: 9.82%;
}

select option {
    width:100px
}

.future-of-societies p:first-child{
    margin-left: 9%;
}

.future-of-societies p:last-child{
    margin-right: 9%;
}

.mental-health p:first-child{
    margin-right: 20%;
}

.mental-health p:last-child{
    margin-right: 7%;
}

.thriving-block{
    width: 100%;
    min-height: 120px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: row;
}

.thriving-content .thriving-block:last-child{
    margin-bottom: 15px;
}

.thriving-left-content{
    width: 43.59%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 28px;
    line-height: 1.1;
    letter-spacing: 6.33px;
    font-family: 'Seravek Bold';
}

.jobs-of-tomorrow{
    background: url('assets/sc3_bg1.svg') right no-repeat,
                url('assets/hub-bg-texture.svg') left no-repeat;
}

.future-of-societies{
    background: url('assets/sc3_bg2.svg') right no-repeat,
                url('assets/hub-bg-texture.svg') left no-repeat;
}

.mental-health{
    background: url('assets/sc3_bg3.svg') right no-repeat,
                url('assets/hub-bg-texture.svg') left no-repeat;
}

.technology{
    background: url('assets/sc3_bg4.svg') right no-repeat,
                url('assets/hub-bg-texture.svg') left no-repeat;
}

.volunteering{
    background: url('assets/sc3_bg5.svg') right no-repeat,
                url('assets/hub-bg-texture.svg') left no-repeat;
}

.leadership{
    background: url('assets/sc3_bg6.svg') right no-repeat,
                url('assets/hub-bg-texture.svg') left no-repeat;
}

.thriving-right-content{
    width: 56.41%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F0F0F0;
    color: #54565A;
    text-transform: none;
    padding-left: 38px;
    font-size: 18px;
    line-height: 1.2;
}

.thriving-right-content p:nth-child(2){
    margin-top: 20px;
}

.registration-form-modal,
.login-form-modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 210;
    transition: all .6s;
    transform-origin: right;
    overflow-y: scroll;
    margin-right: -17px;
    height: 100vh;
    width: 28.65vw;
    background: #fff;
    box-shadow: -4px 0 10px #00000026;
}

.registration-form-content,
.login-form-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 4vw 0 3.385vw;
}

.thankyouPart{
    margin: 30px auto;
    font-size: 14px;
    width: 100%;
    padding: 20px 0;
    text-transform: none;
    position: relative;
    max-width: 75%;
    display: none;
}

.thankyouPart .mb-4,
.thankyouPart .mb-4 mb-md-5,
.thankyouPart .co-content,
.lobby-about-section .section-text .mb-4,
.lobby-about-section .section-text .mb-4 mb-md-5,
.lobby-about-section .section-text .co-content,
.lobby-speakers-section .above-speakers .mb-4,
.lobby-speakers-section .above-speakers .mb-4 mb-md-5,
.lobby-speakers-section .above-speakers .co-content{
    margin-bottom: 0 !important;
}

.thankyouPart::before,
.closed-registration-text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url('assets/thankyouBorder.png') no-repeat left top;
    background-size: cover;
    width: 40px;
    height: 7px;
}

.thankyouPart h5 {
    width: 100%;
    display: inline-block;
    color: #F08714;
    font-size: 18px;
    margin: 12px 0;
    font-weight: bold;
}

.thankyouPart p {
    width: 100%;
    display: inline-block;
    color: #1D1D1B;
    margin: 12px 0;
    padding: 0 !important;
    font-size: 18px;
    border: none !important;
}

.thankyouPart p:before{
    content: none;
}

.thankyouPart p a {
    color: #F08714;
    text-decoration: underline;
}

.thankyouPart::after,
.closed-registration-text:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: url('assets/thankyouBorder.png') no-repeat left top;
    background-size: cover;
    width: 40px;
    height: 7px;
}

.closed-registration-text{
    margin: 30px auto;
    width: 100%;
    padding: 20px 0;
    text-transform: none;
    position: relative;
}

.closed-registration-text p{
    font: normal normal normal 1.8vh/1.3 Seravek;
    letter-spacing: .5px;
    margin-bottom: 15px;
    color: #1D1D1B;
}

.closed-registration-text p:last-child{
    padding-top: 10px;
}

.closed-registration-text div{
    display: flex;
    align-items: flex-end;
}

.closed-registration-text p{
    display: inline-block;
}

.closed-registration-text a{
    display: inline-block;
    height: 1.64vh;
    margin-left: 8px;
}

.closed-registration-text svg{
    width: auto;
    height: 100%;
}

.closed-registration-text svg path{
    fill: #1D1D1B;
}

.login-form-modal{
    margin-right: 0;
    overflow: initial;
}

.login-form-modal .live-agenda-modal-header,
.registration-form-modal .live-agenda-modal-header{
    padding-left: 4vw;
}

.registration-form-content h3,
.login-form-content h3{
    font: normal normal normal 32px/1.4 'Seravek Bold';
    letter-spacing: 6.4px;
    margin-bottom: 40px;
    text-transform: none;
}

.registration-form{
    display: flex;
    flex-direction: column;
}

.registration-form p:before{
    width: 30px;
    height: 30px;
    border: 1px solid #F15A24;
}

p.birthday-group:after{
    content: url('assets/datepicker.svg');
    position: absolute;
    right: 0;
}

.username-group:before{
    background: url('assets/user.png') center/80% no-repeat;
}

.birthday-group:before{
    background: url('assets/birthday.svg') center/80% no-repeat;
}

.password-group:before{
    background: url('assets/password.svg') center/80% no-repeat;
}

.email-group:before{
    background: url('assets/mail.png') center/80% no-repeat;
}

.emirate-group:before{
    background: url('assets/map.png') center/80% no-repeat;
}

.country-group:before{
    background: url('assets/globe.png') center/80% no-repeat;
}

.institue-group:before{
    background: url('assets/instituts.png') center/80% no-repeat;
}

.registration-form p {
    padding: 30px 0 10px 40px;
    border-bottom: 1px solid #F15A24;
}

.registration-form  p.birthday-group{
    padding-right: 15px;
}

.registration-form  p.birthday-group input{
    cursor: pointer;
}

.registration-form input,
.registration-form select{
    font-size: 16px;
    line-height: 1;
}

.registration-form input[type=submit],
.registration-form input[type=button]{
    width: 100%;
    max-width: 190px;
    padding: 7px 0;
    margin-top: 65px;
    margin-bottom: 23px;
    background-color: #808080;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1.5;
}

.form-response-output{
    font-size: 18px;
    text-transform: none;
    margin-bottom: 30px;
}

.hide-inputs{
    display: none !important;
}

#endrolled-university-yes{
    width: 100%;
}

.user-bar-my-account{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 500;
    min-width: 10.5vw;
    padding: 10px;
}

.user-bar-my-account a{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.avatar-block{
    width: 30px;
    height: 30px;
    overflow: hidden;
}

.avatar{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.display-name{
    display: flex;
    align-items: center;
    margin-right: 15px;
    text-transform: none;
    font-family: 'Seravek Medium', sans-serif;
    color: #1D1D1B;
}

.profile-content .maincontent{
    margin-left: 32px;
}

.profile-content h3{
    color: #1D1D1B;
    font: normal normal normal 28px/37px 'Seravek Bold' !important;
    margin-top: 100px;
}

.profile-content .registration-form-content{
    padding-top: 11vh;
}

.profile-content .user-bar-my-account{
    min-width: auto;
    background-color: #fff;
}

.profile-content .user-bar-my-account a{
    color: #1D1D1B;
    font: normal normal normal 16px/1 'Seravek' !important;
}

.profile-content .user-bar-my-account a:after{
    content: url('assets/log-out-icon.svg');
    margin-left: 10px;
}

.two-fields-group{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.two-fields-group p{
    margin-right: 30px;
    width: 32%;
}

.profile-content  #endrolled-university-yes,
.one-field-group{
    width: calc(64% + 30px);
}

.profile-content #selected-country-uae,
.profile-content #selected-country-outside{
    display: flex;
    justify-content: space-between;
}

.profile-content #selected-country-uae p,
.profile-content #selected-country-outside p{
    width: 32%;
}

.partner-block-container{
    padding: 0 5vw;
}

.partner-block-container h2{
    line-height: 1.5;
}

.partner-block-container .row{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10vh;
    text-transform: none;
}

.partner-block-container .co-img-wrapper{
    -webkit-box-align: start;
    -ms-flex-align: start;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
    margin-bottom: 0;
}

.partner-block-container .co-img-wrapper img{
    width: 100%;
    height: auto;
}

.partner-block-container .col:first-child{
    margin-left: 3vw;
    -webkit-box-flex: 1;
    flex: 1;
}

.partner-block-container .col:last-child{
    width: 34%;
}

.partner-block-container .col h2{
    font-size: 28px;
    line-height: 1.2;
    font-family: Seravek, sans-serif;
    margin-bottom: 25px;
}

.partner-block-container .col p{
    font-size: 20px;
    font-family: Seravek, sans-serif;
    letter-spacing: 2px;
    line-height: 1.4;
}

/*.partner-block-container .col:first-child a{*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    padding: .5em 0;*/
/*    margin-top: 1em;*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*    border-radius: 2em;*/
/*    width: 140px;*/
/*}*/

/*.partner-block-container .col:first-child a:after,*/
/*.partner-block-container .col:first-child a:before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: calc(100% - 4px);*/
/*    height: calc(100% - 4px);*/
/*}*/

/*.partner-block-container .col:first-child a:before {*/
/*    border: 2px solid #009fc9;*/
/*    border-radius: 2em;*/
/*}*/

/*.partner-block-container .col:first-child a {*/
/*    font-weight: 500;*/
/*    font-size: 14px;*/
/*    color: #3b3266;*/
/*}*/

.partner-block-container .col:first-child a{
    position: relative;
    width: 109px;
    height: 3.47vh;
    min-height: 30px;
    margin-top: 1em;
    grid-column: 1 / 4;
    background-color: #808080;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Seravek Medium';
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
}

.partner-block-container .col:first-child a:before{
    content: 'Visit Us';
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 20;
    background-color: #808080;
    color: #FFFFFF;
    font-size: 16px;
}

.partners-nav-tab,
.speakers-nav-tab{
    width: 70%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    margin: 25px 0;
}

.partners-nav-tab:after,
.speakers-nav-tab:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #dadada;
    border-radius: .5em;
}

.partners-nav-tab-item,
.speakers-nav-tab-item{
    color: #989898;
    padding: 1.3em 2em 1.3em 1em;
    display: block;
    font-weight: 900;
    font-size: 18.7px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    position: relative;
    cursor: pointer;
}

.partners-nav-tab-item.active-nav,
.speakers-nav-tab-item.active-nav{
    color: #6BBBE1;
}

.partners-nav-tab-item:after,
.speakers-nav-tab-item:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    width: 100%;
    height: 8px;
    border-radius: 2em;
    z-index: 10;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.active-nav:after{
    background-color: #6BBBE1;
}

#tab-1,
#tab-2,
#speakers-tab-1,
#speakers-tab-2{
    display: none;
}

.active-tab{
    display: grid !important;
}

.mobile-menu-btn{
    display: none;
    padding: 6px 8px;
    background-color: #fff;
    border-radius: 2px;
    z-index: 20;
}

.mobile-menu-btn div {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: transform .4s;
}

.changed-mobile-menu-btn{
    z-index: 1000;
}

.changed-mobile-menu-btn div:nth-child(1){
    transform: rotate(45deg) translate(2px, -5px);
    transform-origin: left;
}

.changed-mobile-menu-btn div:nth-child(2){
    opacity: 0;
}

.changed-mobile-menu-btn div:nth-child(3){
    transform: rotate(-45deg) translate(2px, 4px);
    transform-origin: left;;
}

.show-mobile-nav{
    transform: none !important;
}

.top-sticky-nav-section{
    display: flex;
    position: fixed;
    align-items: center;
    width: calc(100vw - 305px);
    height: 14.45vh;
    top: 0;
    left: 305px;
    background-color: #E6E6E6;
    z-index: 200;
    opacity: 0;
    visibility: hidden;
    transition: opacity .15s linear;
}

.close-lobby-menu{
    position: absolute;
    left: 5px;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 10px;
    cursor: pointer;
    opacity: 0;
    transition: opacity .2s;

}

.top-sticky-nav-section:hover .close-lobby-menu{
    opacity: .7;
}

.lobby-nav{
    display: grid;
    flex-direction: row;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(7, 1fr);
}

.lobby-nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #D0C9C9;
    border: 2px solid #fff;
    font: normal normal 2vh/1.1 'Seravek Bold';
    letter-spacing: 0.21vw;
    text-align: center;
}

.lobby-nav a:last-child .lobby-nav-item{
    border-right: none;
}

/*
    Modal style
 */

.modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.modal-backdrop.fade {
    opacity: 0;
    visibility: hidden;
    transition: visibility .2s linear, opacity .15s linear;
}

.modal-backdrop.show {
    opacity: .5;
    visibility: visible;
}

.modal-window{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.modal-open .modal-window{
    overflow-x: hidden;
    overflow-y: scroll;
}

.modal-window.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(0, -50px);
}

.modal-window.show .modal-dialog {
    transform: none;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}


 .modal-header {
     display: flex;
     flex-shrink: 0;
     align-items: center;
     justify-content: flex-end;
     padding: 1rem 1rem;
     border-bottom: 1px solid #dee2e6;
     border-top-left-radius: calc(.3rem - 1px);
     border-top-right-radius: calc(.3rem - 1px);
 }

.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: .25em .25em;
    color: #000;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    border: 0;
    border-radius: .25rem;
    opacity: .5;
    cursor: pointer;
}
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    text-transform: none;
    font: normal normal normal 20px/1.32 'Seravek' !important;
}

.modal-body p{
    font: normal normal normal 20px/1.32 'Seravek' !important;
    text-align: justify;
}

.modal-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}

.bottom-btn-close{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    color: #fff;
    background-color: #6c757d;
    padding: .375rem .75rem;
    border: 1px solid #6c757d;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.modal-open{
    overflow: hidden;
    padding-right: 15px;
}


.show-less-items .partner-block,
.show-less-items .speaker-block{
    display: none;
}

.show-less-items .partner-block:nth-child(-n+6),
.show-less-items .speaker-block:nth-child(-n+6){
    display: flex;
}

.view-more-btn {
    position: relative;
    width: 109px;
    height: 3.47vh;
    min-height: 30px;
    margin: 30px 0;
    grid-column: 1 / 4;
    background-color: #808080;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Seravek Medium';
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.view-more-btn:after{
    content: 'View more';
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Seravek Medium';
}

.active-view-more .view-more-btn{
    display: flex;
}

.open-modal{
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    text-transform: none;
}

#open-modal{
    cursor: pointer;
    padding: 10px 0;
    font: normal normal normal 20px/1.32 'Seravek';
    color: #1D1D1B !important;
    text-decoration: underline;
    z-index: 80;
}

.hide-description-block{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 420px;
    padding: 25px;
    position: absolute;
    top: 100%;
    z-index: 2;
    background: rgba(239, 239, 239, .84);
}

.hide-description-block p{
    font: normal normal 300 14px/20px Seravek;
    text-transform: none;
}

.hide-description-block h2,
.hide-description-block h3,
.hide-description-block h4,
.hide-description-block h5,
.hide-description-block h6{
    margin-bottom: 15px;
    font: normal normal 300 14px/20px Seravek;
    color: #0E5C9B;
    text-transform: uppercase;
}

.description-hide-content,
.hide-description-block{
    opacity: 0;
    visibility: hidden;
}

.live-agenda-modal-body li:hover .hide-description-block{
    opacity: 1;
    visibility: visible;
    transition: opacity .3s .4s, visibility .05s .4s;
}

.social{
    display: flex;
    justify-content: center;
}

.social ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1.55vh 0 0;
}
.social ul li{
   padding: 0 2px;
}
.social ul a{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.64vh;
}

.social ul a svg{
    width: auto;
    height: 100%;
}

section.hub-single-section{
    margin-left: 6.7vw;
    padding-top: 18vh;
    min-height: 0 !important;
}

section.photos-content-section {
    margin-left: 6.7vw;
    padding-top: 7vh !important;
    min-height: 0 !important;
}

.jubilee-galleries{
    width: 100%;
}

.hub-single-section .section-title h2{
    text-transform: none;
}

.hub-single-section .section-title h2:after {
    background: #B8C408;
}

.hub-gallery-wrapper .speaker-block-text{
    margin-top: 17px;
    position: relative;
}

.hub-gallery-wrapper .speaker-block-text h3{
    font-size: 18px;
    line-height: 1.25;
    font-family: "Seravek Medium";
    color: #54565A;
    padding-right: 35px;
}

.hub-gallery-wrapper .speaker-position{
    margin: 0;
}

.hub-gallery-wrapper .speaker-description{
    font-size: 16px;
    line-height: 1.25;
    font-family: Seravek;
    color: #54565A;
    text-transform: none;
}

.hub-gallery-wrapper.three-items .speaker-description{
    margin-top: 8px;
}

.hub-gallery-wrapper .speaker-block .hover-block{
    display: none;
}

.hub-gallery-wrapper .speaker-block:hover .speaker-block-text h3,
.hub-gallery-wrapper .speaker-block:hover .speaker-block-text h4,
.hub-gallery-wrapper .speaker-block:hover .speaker-block-text p{
    transform: none;
    opacity: 1;
}

.hub-gallery-link{
    text-align: right;
}

.four-items .speakers-block-list{
    width: 100%;
    max-width: 990px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.four-items .speaker-block{
    max-width: 225px;
}

.four-items .speaker-image-block{
    height: 140px;
    position: relative;
}

.four-items.hub-gallery-wrapper .speaker-block-text{
    margin-top: 8px;
}

.four-items.hub-gallery-wrapper .speaker-block-text h3{
    font-size: 16px;
    line-height: 1.25;
    font-family: "Seravek Medium";
    color: #C1D007;
}

.four-items.hub-gallery-wrapper .speaker-position{
    font: normal normal normal 12px Seravek;
    color: #1D1D1B;
}

.four-items.hub-gallery-wrapper .speaker-description{
    font: normal normal 300 10px/1.3 Seravek;
    color: #707070;
    opacity: 1;
}

.hub-gallery-link a{
    text-decoration: underline;
    font: normal normal 300 15px/2.13 Seravek;
    letter-spacing: 0px;
    color: #54565A;
    text-transform: none;
}

.four-items .show-less-items .speaker-block{
    display: none;
}

.four-items .show-less-items .speaker-block:nth-child(-n+12){
    display: flex;
}

.jubilee-content{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.jubilee-hub-image{
    width: 37vw;
    height: 65.3vh;
    overflow: hidden;
}

.jubilee-hub-image img{
    width: auto;
    height: 124%;
}

.jubilee{
    background: url('assets/jubilee-top-bg.png') top right no-repeat,
                url('assets/jubilee-bottom-bg.png') bottom right no-repeat;
}

.download-link,
.full-image-control{
    display: none;
}

.photo-gallery.hub-gallery-wrapper .full-image-control,
.three-items.hub-gallery-wrapper .download-link{
    display: block;
}

.photo-gallery.hub-gallery-wrapper .speaker-image-block .full-image-control{
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.photo-gallery.hub-gallery-wrapper .speaker-image-block .full-image-control:before{
     content: '';
 }

.three-items.hub-gallery-wrapper .download-link{
    display: block;
    position: absolute;
    top:0;
    right: 0;
    width: 32px;
    height: 22px;
    margin-bottom: 8px;
}

.photo-gallery.hub-gallery-wrapper .full-image-control{
    display: block;
    position: absolute;
    top:0;
    right: 0;
    width: 13px;
    height: 14px;
    margin-bottom: 0;
    cursor: pointer;
}

.three-items.hub-gallery-wrapper .download-link:before{
    content: url('assets/download-icon.svg');
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.photo-gallery.hub-gallery-wrapper .full-image-control:before{
    content: url('assets/full-screen.svg');
}

.virtual-forum{
    background: url('assets/virtual-forum-bg.png') bottom right no-repeat;
}

.survey{
    background: url('assets/survey-top-bg.png') top right no-repeat,
                url('assets/survey-bottom-bg.png') bottom right no-repeat;
}
.additional{
    background: url('assets/additional-bottom-bg.png') top right -0.2vw no-repeat,
                url('assets/additional-top-bg.png') bottom right no-repeat;
}

.video-gallery-section{
    background: url('assets/video-gallery-top-bg.png') top right no-repeat,
                url('assets/video-galery-bottom-bg.png') bottom right no-repeat;
}

.photo-gallery-section{
    background: url('assets/photo-gallery-top-bg.png') top right no-repeat;
}

.photo-gallery .speaker-image-block iframe,
.three-items .speaker-image-block iframe,
.four-items:not(.photo-gallery) .speaker-image-block img{
    display: none;
}

#open-registration,
.registration-btn {
 visibility: hidden;
}

@media screen and (max-width: 1850px){
    .banner-content-bottom-text-title {
        letter-spacing: 8px;
    }
}

@media screen and (max-width: 1600px){
    .banner-content-top-text{
        margin-bottom: 10%;
    }
    .banner-content-bottom-text-block {
        max-width: 550px;
    }
    .banner-content-bottom-text-title {
        letter-spacing: 2px;
    }
    .banner-content-bottom-text-date {
        padding-right: 50px;
        font: normal normal normal 32px/1.14 'Seravek Bold';
        letter-spacing: 0;
        text-align: right;
        text-transform: none;
    }
    .banner-image-block {
        left: 37%;
    }
    .section-title{
        font: normal normal normal 24px/1.14 'Seravek Bold';
    }
    .section-text,
    .lobby-jubilee-lab-section .section-text,
    .lobby-jubilee-lab-section .section-text{
        font: normal normal normal 20px/1.4 Seravek;
    }
    .contact-form {
        max-width: 48.51%;
    }
    .two-fields-group p{
        margin-right: 30px;
        width: 45%;
    }
    .profile-content  #endrolled-university-yes,
    .one-field-group{
        width: calc(90% + 30px);
    }
    .banner-bottom-button-group{
        width: 175px;
    }
    section.hub-single-section {
        margin-left: 2.7vw;
    }
    .hub-gallery-wrapper .speakers-block-list .speaker-block {
        max-width: 238px;
    }
    .hub-gallery-wrapper .speakers-block-list .speaker-block speaker-image-block {
        height: 238px;
    }
    .live-video-block {
        width: 68.7vw !important;
        height: 45.75vh !important;
    }
    .live-video-block iframe:first-child{
        width: 60% !important;
    }
    .live-video-block iframe:last-child{
        width: 39% !important;
    }
}

@media screen and (max-width: 1440px) {
    .jubilee .four-items .speakers-block-list{
        grid-template-columns: 1fr 1fr;
    }
    .jubilee .four-items .speakers-block-list .speaker-block{
        max-width: 90%;
    }
    .jubilee,
    .virtual-forum,
    .survey,
    .additional,
    .video-gallery-section,
    .photo-gallery-section{
        background-size: 30%;
    }
    .live-video-block {
        width: 62.7vw !important;
    }
}

@media screen and (max-width: 1200px){
    .banner-content-bottom-text-block{
        max-width: 58%;
    }
    .section-text-content{
        max-width: 55%;
    }
    .contact-form {
        max-width: 80%;
    }
    .section-hub-container{
        margin: 50px 0 0 30px ;
        max-width: 90%;
    }
    .lab-block{
        height: 90px;
    }
    .lab-img-block{
        width: 90px;
        height: 90px;
    }
    .lab-text-block {
        display: flex;
        align-items: center;
        width: calc(100% - 105px);
        letter-spacing: 3px;
        font-size: 18px;
    }
    .lab-img-block img{
        width: 100%;
    }
    .jubilee .three-items .speakers-block-list{
        grid-template-columns: 1fr 1fr;
    }
    .hub-gallery-wrapper .speakers-block-list .speaker-block{
        max-width: 90%;
    }
}

@media screen and (max-width: 1024px){
    .section-text-content {
        max-width: 50.37%;
    }
    .contact-form{
        max-width: 80%;
    }
    .section-title {
        font: normal normal normal 18px/1.14 'Seravek Bold';
    }
    .lobby-jubilee-lab-section,
    .section-text {
        font: normal normal normal 16px/1.4 Seravek;
    }
    .section-text-content {
        max-width: 60%;
    }
    .registration-form-modal,
    .login-form-modal {
        width: 44.65vw;
    }
    .hub-video-gallery .hub-gallery-block {
        max-width: 90%;
    }
    .hub-video-gallery .hub-gallery-image-block iframe {
        width: 90% !important;
        height: 200px !important;
    }
    .hub-video-gallery .hub-gallery-image-block {
        height: 200px;
    }
    .live-video-block {
        width: 68.7vw !important;
        height: 63.75vh !important;
    }
}

@media screen and (max-width: 992px) {
    .banner-content-bottom-text-title {
        font-size: 55px;
        line-height: 1.05;
    }
    .maincontent {
        margin-left: 0;
        padding: 0 20px;
    }
    .sidebar{
        position: fixed;
        z-index: 1000;
        width: 100%;
        height: 100vh;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform .3s ease-out;
    }
    .registration-form-modal,
    .login-form-modal{
        z-index: 1100;
    }
    .top-sticky-nav-section{
        display: none;
    }
    .mobile-menu-btn {
        display: block;
        position: fixed;
        top: 15px;
        left: 15px;
    }
    .live-video-left-content,
    .partner-block-container,
    .hub-section{
        margin-top: 50px;
    }
    .maincontent,
    .hub-section,
    .mission-image-block img{
        width: 100%;
    }
    .live-video-block iframe {
        width: 100% !important;
        height: 59.75vh !important;
    }
    .jubilee-image-block {
        width: 41.95%;
    }
    .banner-bottom-button-group{
        left: auto;
        right: 8vw;
        z-index: 100;
    }
    .hub-video-gallery-row {
        margin-top: 30px;
        align-items: flex-start;
        flex-direction: column;
    }
    .hub-video-gallery .view-more-btn {
        margin-left: 0;
    }
    .gallery-left-block{
        margin-top: 0;
    }
    .jubilee-content{
        flex-direction: column;
    }
    .four-items .speakers-block-list,
    .jubilee .four-items .speakers-block-list,
    .jubilee .three-items .speakers-block-list{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .jubilee-hub-image {
        width: 50vw;
    }
    section.hub-single-section{
        margin-left: 0;
    }
    .live-video-block{
        width: calc(100% - 95px) !important;
        height: 800px !important;
    }
    .live-video-block div{
        width: 100%;
        /*height: 100%;*/
        display: flex;
        flex-direction: column;
    }
    .live-video-block iframe:first-child,
    .live-video-block iframe:last-child{
        width: 100% !important;
        height: 400px !important;
    }
}

@media screen and (max-width: 768px){
    section{
        min-height: auto;
    }
    .modal-open {
        padding-right: 0;
    }
    .banner {
        background: url('assets/banner-top-right-bg.png') top -7vh right/33vw no-repeat,
                    url('assets/sc1_texture1.svg') bottom -24vh left 20vw/38vw no-repeat;
    }
    .lobby-about-section .section-text-content{
        margin-bottom: 190px;
    }
    .banner-content-bottom-text-block,
    .contact-form,
    .section-text-content{
        max-width: 100%;
    }
    .contact-form-container,
    .contact-form,
    .banner-content-bottom-text,
    .section-text-content,
    .speakers-block,
    .venueses-block,
    .partners-block,
    .section-form-block,
    .section-live-block,
    .lobby-jubilee-lab-section .section-text-content,
    .lobby-mission-section .section-text-content:nth-child(3),
    .lobby-about-section .section-text-content,
    .hub-single-section{
        padding: 0;
        margin: 0;
    }
    .lobby-speakers-section .section-title {
        margin: 0;
    }
    .banner-content-bottom-text-date{
        text-align: center;
    }
    .banner-content-bottom-text,
    .section-text-content{
        width: 60%;
    }
    .banner-image-block {
        left: 62.5%;
        width: 40.27%;
        height: auto;
    }
    .section-hub-container {
        margin: 0;
        max-width: 100%;
        padding: 15px;
    }
    .polling, .live-chat, .live-agenda {
        padding: 0 25px;
        letter-spacing: 2.8px;
    }
    .majlis-live-section{
        margin-right: -15px;
    }
    .majlis-right-sidebar p {
        padding-right: 40px;
    }
    .live-agenda-modal {
        width: 450px;
        padding: 20px 50px;
    }
    .registration-form-modal,
    .login-form-modal {
        width: 64.65vw;
    }
    .thriving-left-content{
        font-size: 20px;
    }
    .thriving-right-content{
        font-size: 16px;
    }
    .two-fields-group p{
        margin-right: 0;
        width: 100%;
    }
    .profile-content  #endrolled-university-yes,
    .one-field-group,
    .profile-content #selected-country-uae p,
    .profile-content #selected-country-outside p,
    .banner-content-top-right-text{
        width:100%;
    }
    .profile-content #selected-country-uae,
    .profile-content #selected-country-outside,
    .section-content{
        flex-direction: column;
    }
    .partner-block-container .section-title{
        padding-right: 0;
    }
    .partner-block-container .row{
        flex-direction: column-reverse;
    }
    .partner-block-container .col:last-child{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .partner-block-container .col:first-child{
        margin: 40px 0;
    }
    .social ul a{
        height: 12px;
    }
    .social ul{
        width: 75px;
    }
    .banner-content-top-text{
        margin-bottom: 40px;
        padding: 70px 0 0;
        flex-direction: column;
    }
    .banner-content-top-left-text{
        font-size: 2.5vh;
        letter-spacing: 0;
        margin-bottom: 30px;
    }
    .banner-content-top-right-text{
        padding: 0;
        font-size: 1.875vh;
    }
    .banner-content-bottom-text-title{
        font-size: 5.47vh;
    }
    .hub-gallery,
    .jubilee .hub-gallery {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px){
    .lobby-contact-us-section,
    .lobby-venues-section,
    .lobby-partners-section,
    .lobby-about-section,
    .lobby-mission-section,
    .banner,
    .majlis-live-section,
    .hub-section{
        background: none;

    }
    .lobby-speakers-section {
        background: url('assets/sc6_texture.svg') top 2vh right/28vw 10vh no-repeat,
                    url('assets/mission-bottom-right-bg.png') top -84vh right 1.14vw/88.14vw 90vh no-repeat,
                    url('assets/mission-bottom-right-bg.png') bottom -15vh right -20vw/0vw 69vh no-repeat
    }
    .about-image-block{
        height: 300px;
        width: 100%;
        left: 2vw;
        background: url('assets/rotate-bg.png') bottom right/64% 84% no-repeat,
                    url('assets/sc4_texture.svg') bottom left/26% auto no-repeat
    }
    .about-image-block img {
        width: 80%
    }
    .lobby-about-section .small-bg{
        width: 85px;
        height: 43px;
        bottom: 0;
        left: 0;
    }
    .mission-image-block {
        width: 100%;
        height: 300px;
        bottom: -2vw;
        right: 0;
        background: url(assets/mission-bottom-right-bg-rotate.png) bottom -16vh left/100% no-repeat, 
                    url(assets/sc5_texture.svg) top -5vh right/53% 42% no-repeat
    }
    .lobby-mission-section .small-bg {
        width: 150px;
        height: 145px;
        bottom: -13vh;
        left: 0;
    }
    .jubilee-image-block{
        width: 80%;
        height: 300px;
    }
    .lobby-jubilee-lab-section {
        background: url('assets/rotate-bg.png') top 53vh right 54vw/36vw 30vh no-repeat,
                    url('assets/sc8_texture.svg') top 37vh right 0vw/64vw 71vh no-repeat,
                    url('assets/mission-bottom-right-bg-rotate.png') bottom -91.8vh right/90vw 96vh no-repeat
    }
    .jubilee-image-block,
    .about-image-block{
        bottom: 0;
        right: 0;
    }
    .lobby-mission-section {
        padding-bottom: 300px
    }
    .lobby-jubilee-lab-section{
        padding-bottom: 320px;
    }
    .lobby-about-section .section-text-content{
        margin-bottom: 320px;
    }
    .section-header{
        padding: 40px 0 20px 10px
    }
    .banner{
        height: 100vh;
        background: url('assets/banner-top-right-bg.png') top 56vh right/55vw no-repeat,
                    url('assets/sc1_texture1.svg') bottom -10vh left 0vw/60vw no-repeat
    }
    .banner-content-bottom-text,
    .section-text-content,
    .partners-nav-tab,
    .speakers-nav-tab,
    .banner-content-top-right-text,
    .hub-gallery-block-text{
        width: 100%;
    }
    .partners-nav-tab,
    .speakers-nav-tab{
        flex-wrap: nowrap;
    }
    .banner-image-block {
        left: auto;
        right: 0;
        width: 100%;
        height: 200px;
        bottom: 0;
    }
    .section-title{
        padding-top: 20px;
    }
    .speakers-block-list,
    .venueses-block-list,
    .partners-block-list,
    .jubilee .hub-gallery,
    .jubilee .video-gallery{
        grid-template-columns: 1fr;
    }
    .view-more-btn {
        width: 100%;
        grid-column: 1;
        font-size: 16px;
    }
    .speaker-block,
    .venues-block,
    .partner-block {
        max-width: 100%;
        align-items: center;
    }
    .speaker-block-text,
    .venues-block-text,
    .partner-block-text{
        text-align: center;
    }
    .contact-form p,
    .registration-form p {
        padding: 20px 0 10px 35px;
    }
    .contact-form input,
    .registration-form input,
    .contact-form .border-none,
    .banner-content-bottom-text-date{
        font: normal normal 300 20px/1 Seravek;
    }
    .section-title,
    .section-title h2{
        font-size: 24px !important;
        line-height: 32px !important;
    }
    .section-text {
        margin-top: 30px;
    }
    .section-text p,
    .modal-body,
    .modal-body p,
    .lobby-jubilee-lab-section .section-text a{
        font: normal normal normal 18px/27px Seravek !important;
    }
    .contact-form p:before,
    .registration-form p:before {
        width: 27px;
        height: 27px;
    }
    .hub-block-title {
        height: 102px;
        letter-spacing: 4.6px;
        font-size: 20px;
    }
    .lab-content,
    .four-items .speakers-block-list,
    .jubilee .four-items .speakers-block-list,
    .jubilee .three-items .speakers-block-list{
        grid-template-columns: 1fr;
    }
    .lab-block {
        height: 60px;
        margin-bottom: 15px;
    }
    .lab-img-block {
        width: 60px;
        height: 60px;
    }
    .lab-text-block {
        width: calc(100% - 70px);
    }
    .thriving-block {
        margin-bottom: 20px;
        flex-direction: column;
    }
    .thriving-left-content {
        width: 100%;
        font-size: 24px;
        letter-spacing: 4.33px;
        padding: 15px 10px;
    }
    .thriving-right-content {
        width: 100%;
        padding: 10px 10px;
        font-size: 16px;
    }
    .live-video-left-content {
        width: calc(100% - 50px);
    }
    .live-video-right-content {
        max-width: 50px;
    }
    .majlis-right-sidebar {
        height: 50px;
        padding: 10px 0;
        right: 50px;
        font-size: 14px;
    }
    .section-live-block{
        margin-bottom: 50px;
    }
    .live-agenda-modal {
        width: calc(100vw - 50px);
        padding: 20px;
        right: 65px;
    }
    .registration-form-modal,
    .login-form-modal {
        width: 100vw;
    }
    .registration-form-content,
    .login-form-content {
        padding-right: 8vw;
        padding-bottom: 8vh;
    }
    .partners-nav-tab-item,
    .speakers-nav-tab-item {
        padding: 15px;
        font-size: 14px;
    }
    .partner-block-container .co-img-wrapper,
    .partner-block-container{
        padding: 0;
    }
    #open-modal{
        font-size: 18px;
    }
    .above-speakers{
        font-size: 14px;
        padding: 30px 0 0 0;
    }
    .bottom-nav-block{
        width: 38%;
        margin-bottom: 8vh;
    }
    .login-btn,
    .banner-content-register-btn p{
        height: 30px;
        font-size: 14px;
    }
    .login-btn{
        margin-bottom: 15px;
    }
    .block-logo{
        margin-top: 5vh;
    }
    .nav-item:last-child .language-object span:after{
        font-size: 14px;
    }
    .banner-bottom-button-group{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        right: 0;
    }
    .registration-btn,
    .program-btn{
        width: 40%;
        margin-bottom: 0;
    }
    .closed-registration-text p{
        font-size: 16px;
    }
    .closed-registration-text a{
        height: 14px;
    }
    .hub-gallery-wrapper .speakers-block-list .speaker-block,
    .jubilee .four-items .speakers-block-list .speaker-block{
        max-width: 100%;
    }
    section.hub-single-section{
        padding-top: 50px;
    }
    .jubilee-hub-image {
        width: 300px;
        height: 400px;
    }
    .jubilee,
    .virtual-forum,
    .survey,
    .additional{
        background-size: 65%;
    }
    .video-gallery-section,
    .photo-gallery-section {
        background-size: 45%;
    }
    .jubilee .hub-gallery-block{
        margin-right: 0;
    }
    .hub-gallery-wrapper .speaker-block .speaker-block-text{
        text-align: left;
    }
    .four-items:not(.photo-gallery) .speaker-image-block,
    .four-items .speaker-image-block iframe{
        width: 100% !important;
        height: 260px !important;
    }
    .live-video-block{
        width: calc(100% - 15px) !important;
        height: 800px !important;
    }
    .live-video-block iframe:first-child{
        height: 259px !important;
    }
}

@media (min-width: 600px){
    .modal-dialog {
        max-width: 600px;
        margin: 1.75rem auto;
    }
}

@media (min-width: 1201px){
    .modal-dialog {
        max-width: 50vw;
        margin: 1.75rem auto;
    }
}

@media (min-width: 1921px){
    .top-sticky-nav-section{
        width: calc(100vw - 15.625vw);
        left: 15.625vw;
    }
}

@media (max-height: 685px) and (min-width: 1000px){
    .sidebar {
        min-width: auto;
    }
    .top-sticky-nav-section {
        width: calc(100vw - 16.5vw);
        left: 15.625vw;
    }
    .banner-content-top-text, .registration-banner-logo {
        margin-bottom: 10%;
    }
    .nav-link {
        font-size: 2.58vh;
        line-height: 3.4vh;
    }
    .block-logo-name {
        font-size: 1.96vh;
    }
    .block-logo-description {
        font-size:  1.34vh;
    }
    .block-logo p {
        font-size: 1.135vh;
        letter-spacing: 1.8px;
    }
    .polling, .live-chat, .live-agenda {
        font-size: 12px;
        padding: 0 25px;
    }
}

/*
        ar-AE localization styles
 */

:lang(ar){
    direction: rtl;
    letter-spacing: 0 !important;
}

:lang(ar) .banner-content-top-right-text{
    padding-right: 0;
    padding-left: 2vw;
}

:lang(ar) .banner-content-bottom-text {
    padding-left: 0;
    padding-right: 18%;
}

:lang(ar) .banner-content-bottom-text-title{
    text-align: right;
}

:lang(ar) .banner-image-block {
    left: 21.5%;
}

:lang(ar) .registration-form-modal,
:lang(ar) .login-form-modal {
    left: 0;
    right: auto;
    transform-origin: left;
    margin-left: -17px;
}

:lang(ar) .login-form-modal .live-agenda-modal-header,
:lang(ar) .registration-form-modal .live-agenda-modal-header {
    padding-left: 0;
    padding-right: 4vw;
}

:lang(ar) p.birthday-group:after{
    right: auto;
    left: 0;
}

:lang(ar) .block-logo img.logo,
:lang(ar) .block-logo .block-logo-name,
:lang(ar) .block-logo .block-logo-description{
    display: none;
}

:lang(ar) .block-logo .ar-logo{
    display: block;
}

:lang(ar) .logo-img-block {
    height: 16vh;
}

:lang(ar) .login-form-modal .live-agenda-modal-header img,
:lang(ar) .registration-form-modal .live-agenda-modal-header img,
:lang(ar) .live-agenda-modal-header img{
    transform: rotate(180deg);
}

:lang(ar) .nav-item:last-child .language-object span:last-child:after{
    padding-left: 0;
    padding-right: 10px;
}

:lang(ar) .nav-item:last-child .language-object span:first-child:before{
    content: '-';
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    left: -5px;
    margin-left: 5px;
    color: #fff;
}

:lang(ar) .nav-item:last-child .language-object span:last-child:before{
    content: '';
}

:lang(ar) .nav-item:last-child .language-object span:first-child:after {
    padding-left: 15px;
}

:lang(ar) .top-sticky-nav-section {
    right: 305px;
    left: auto;
}

:lang(ar) .lobby-nav a:last-child .lobby-nav-item {
    border-left: none;
}

:lang(ar) .close-lobby-menu {
    right: 5px;
    left: auto;
}

:lang(ar) .banner-content-top-text{
    padding: 5% 5% 0 0;
}

:lang(ar) .user-bar-my-account {
    right: auto;
    left: 10px;
}

:lang(ar) .section-text-content {
    margin: 6.2% 7.8% 0 0;
}

:lang(ar)  .lobby-jubilee-lab-section .section-text-content{
    margin-top: 35px;
}

:lang(ar) .lobby-about-section .section-text-content {
    margin-bottom: 345px;
    margin-top: 35px;
}

:lang(ar)  .section-header {
    padding: 58px 58px 30px 0;
}

:lang(ar) .mission-image-block {
    right: auto;
    left: -6vw;
}

:lang(ar) .speakers-block {
    margin: 17px 7.8% 0 0;
}

:lang(ar) .venueses-block,
:lang(ar) .partners-block,
:lang(ar) .section-live-block,
:lang(ar) .section-form-block{
    margin: 35px 7.8% 0 0;
}

:lang(ar) .jubilee-image-block {
    right: auto;
    left: .4vw;
}

:lang(ar) .registration-form p {
    padding: 30px 40px 10px 0;
}

:lang(ar) .contact-form p{
    padding: 40px 50px 10px 0;
}

:lang(ar) .contact-form p:before,
:lang(ar) .registration-form p:before {
    left: auto;
    right: 0;
}

:lang(ar) .display-name {
    margin-left: 15px;
}

:lang(ar) .majlis-right-sidebar,
:lang(ar) .modal-window {
    direction: ltr;
}

:lang(ar) .live-agenda-modal {
    right: auto;
    left: 75px;
    margin-left: -17px;
    transform-origin: left;
}

:lang(ar) .section-hub-container {
    margin: 100px 12.6vw 50px 0;
}

:lang(ar) .thriving-right-content {
    padding-right: 38px;
}

:lang(ar) .lab-text-block {
    padding-right: 20px;
}

:lang(ar) .active-link:after {
    content: '\25C0';
    right: auto;
    left: 24px;
}

:lang(ar) .about-image-block img,
:lang(ar) .mission-image-block img,
:lang(ar) .jubilee-image-block img,
:lang(ar) .jubilee-hub-image img,
:lang(ar) .photo-gallery.hub-gallery-wrapper .full-image-control{
    transform: scale(-1, 1);
}

:lang(ar) .banner-image-block img{
    transform: none;
}

:lang(ar) .profile-content .maincontent{
    margin-left: 0;
    margin-right: 32px;
}

:lang(ar) .profile-content .user-bar-my-account a:after{
    margin-left: 0;
    margin-right: 10px;
    transform: scale(-1, 1);
}

:lang(ar) .two-fields-group p {
    margin-right: 0;
    margin-left: 30px;
}

:lang(ar) .partner-block-container .col:first-child{
    margin-left: 0;
    margin-right: 3vw;
}

:lang(ar) .banner {
    background: url('assets/banner-top-right-bg-mirror.png') top left 0/33vw no-repeat,
                url('assets/sc1_texture1.svg') bottom -37vh right 22vw/38vw no-repeat;
}
:lang(ar) .about-image-block {
    right: 34%;
    background: url('assets/rotate-bg-mirror.png') bottom left/55% 84% no-repeat,
                url('assets/sc4_texture.svg') bottom right/52% 46% no-repeat;
}

:lang(ar) .lobby-about-section .small-bg{
    right: 39%;
}

:lang(ar) .lobby-mission-section .small-bg{
    right: 46vw;
}

:lang(ar) .mission-image-block {
    background: url('assets/mission-bottom-right-bg-rotate-mirror.png') bottom -15vh left/contain no-repeat,
                url('assets/sc5_texture.svg') top left/75% 38% no-repeat;
}

:lang(ar) .lobby-speakers-section {
    background: url('assets/sc6_texture.svg') top 8vh left/22.63vw 36.48vh no-repeat,
                url('assets/mission-bottom-right-bg-mirror.png') top -66vh left -6vw/39.42vw 88vh no-repeat,
                url('assets/mission-bottom-right-bg-mirror.png') bottom -56vh left -20vw/46vw 70vh no-repeat
}

:lang(ar) .lobby-venues-section {
    background: url('assets/mission-bottom-right-bg-mirror.png') top -29vh left -20vw/46vw 85vh no-repeat,
                url('assets/sc7_texture.svg') top 31vh left/16vw 100vh no-repeat;
}

:lang(ar) .lobby-partners-section {
    background: url('assets/rotate-bg-mirror.png') bottom -8vh left -8vw/35vw 61vh no-repeat,
                url('assets/sc7_texture.svg') top -34vh left/16vw 52vh no-repeat;
}

:lang(ar) .lobby-jubilee-lab-section {
    background: url('assets/rotate-bg-mirror.png') top -35vh left -8vw/35vw 61vh no-repeat,
                url('assets/sc8_texture.svg') top -5vh left -9vw/42vw 79vh no-repeat,
                url('assets/mission-bottom-right-bg-rotate-mirror.png') bottom -75vh left/37.5vw 96vh no-repeat;
}

:lang(ar) .lobby-contact-us-section {
    background: url('assets/mission-bottom-right-bg-mirror.png') top -32vh left/37.5vw 77vh no-repeat,
                url('assets/sc9_texture.svg') top 44vh left/23vw 41vh no-repeat;
}

:lang(ar) .majlis-live-section {
    background: url('assets/majlis-top-right-bg-mirror.png') top -36vh left -9vw/44vw 85vh no-repeat,
                url('assets/majlis-bottom-right-bg.png') bottom left/17vw 17vh no-repeat;
}

:lang(ar) .hub-section {
    background: url('assets/hub-top-right-bg.png') top left/16vw no-repeat,
                url('assets/hub-large-bg-mirror.png') top 45vh left -7vw/35vw 66vh no-repeat;
}

:lang(ar) .view-more-btn:after{
    content: 'عرض المزيد';
}

:lang(ar) .partner-block-container .col:first-child a:before {
    content: 'زورنا';
    font-family: 'GE Dinar One Medium';
}

:lang(ar) .bottom-nav-block {
    margin-bottom: 4vh;
    width: 52%;
}

:lang(ar) .banner-bottom-button-group{
    left: auto;
    right: 5vw;
}

:lang(ar) .above-speakers {
    padding: 35px 7.8% 20px 0;
}

:lang(ar) .banner-content-bottom-text-block {
    max-width: 30.58%;
}

:lang(ar) .banner-content-bottom-text-date{
    padding-right: 0;
}

:lang(ar) .banner-content-top-left-text {
    font: normal normal normal 3.93vh/1.34 'GE Dinar One Bold';
}

:lang(ar) .lobby-speakers-section .section-title {
    margin: 35px 7.8% 15px 0;
}

:lang(ar) #open-modal{
    white-space: pre-line;
    font: normal normal normal 20px/1.32 'Ge Dinar One Regular';
}

:lang(ar) .login-btn {
    font-family: 'GE Dinar One Medium';
}

:lang(ar) .lobby-nav-item {
    font: normal normal 2vh/1.1 'GE Dinar One Bold';
}


:lang(ar) .registration-form-content h3,
:lang(ar) .login-form-content h3{
    font: normal normal normal 32px/1.4 'GE Dinar One Bold';
}

:lang(ar) .contact-form input[type=submit],
:lang(ar) .registration-form input[type=submit],
:lang(ar) .contact-form input[type=button],
:lang(ar) .registration-form input[type=button]{
    font: normal normal 300 16px/16px GE Dinar One Light;
}


:lang(ar) .contact-form input,
:lang(ar) .registration-form input,
:lang(ar) .registration-form select,
:lang(ar) .contact-form .border-none {
    font: normal normal 300 27px/27px GE Dinar One Light;
}
:lang(ar) .contact-form textarea, 
:lang(ar) .contact-form input::placeholder,
:lang(ar) .registration-form input::placeholder {
    font-family: 'GE Dinar One Light'
}

:lang(ar) .contact-form p,
:lang(ar) .registration-form p{
    font-family: 'GE Dinar One Light';
}

:lang(ar) .sidebar-coming-soon-text{
    font: normal normal 300 1.55vh/1.27 GE Dinar One Regular;
}
:lang(ar) .nav-link{
    font: normal normal normal 25px/33px 'GE Dinar One Bold';
}

:lang(ar) .banner-content-top-right-text{
    font: normal normal normal 1.65vh/1.3 'GE Dinar One Regular';
}

:lang(ar) .banner-content-bottom-text-title{
    font: normal normal normal 6.92vh/1.22 'GE Dinar One Bold';
}

:lang(ar) .banner-content-register-btn p {
    font-family: 'GE Dinar One Medium';
}

:lang(ar) .switch-lang-block,
:lang(ar) .four-items.hub-gallery-wrapper .speaker-position,
:lang(ar) .four-items.hub-gallery-wrapper .speaker-description{
     font-family: 'GE Dinar One Light';
}

:lang(ar) .section-title,
:lang(ar) .section-title h2{
    font: normal normal normal 28px/37px 'GE Dinar One Bold' !important;
}

:lang(ar) .section-text p{
    font: normal normal normal 20px/1.32 'GE Dinar One Regular' !important;
    text-align: justify;
}


:lang(ar) .banner-content-bottom-text-date{
    font: normal normal normal 3.82vh/1.22 'GE Dinar One Bold';
}

:lang(ar) .speaker-block-text {
    font-family: 'GE Dinar One Medium'
}

:lang(ar) .above-speakers p {
    font-family: 'GE Dinar One Medium'
}

:lang(ar) .show-less-items .partner-block,
:lang(ar) .show-less-items .speaker-block{
    font-family: 'GE Dinar One Medium'
}

:lang(ar) .partner-block-container .col h2 {
    font-family: 'GE Dinar One Medium'
}

:lang(ar) .partner-block-container .co-text,
:lang(ar) .partner-block-container .col p{
    font-family: 'GE Dinar One Medium'
}

:lang(ar) .speaker-name,
:lang(ar) .venues-name,
:lang(ar) .partner-name{
    font: normal normal 600 16px/20px 'GE Dinar One Medium';
}

:lang(ar) .speaker-position,
:lang(ar) .venues-subname,
:lang(ar) .partner-position{
    font: normal normal normal 16px/20px 'GE Dinar One Medium';
}

:lang(ar) .speaker-description,
:lang(ar) .venues-description,
:lang(ar) .partner-description{
    font: normal normal 300 14px/19px 'GE Dinar One Medium';
}


:lang(ar) .speaker-block .hover-block h4,
:lang(ar) .venues-block .hover-block h4,
:lang(ar) .partner-block .hover-block h4,
:lang(ar) .gallery-left-block-text p{
    font: normal normal 300 14px/20px 'GE Dinar One Bold';
}

:lang(ar) .speakers-nav-tab-item,
:lang(ar) .partners-nav-tab-item,
:lang(ar) .hub-gallery-wrapper .speaker-block-text h3{
    font-family: 'GE Dinar One Medium'
}

:lang(ar) .hover-block p {
    font-family: 'GE Dinar One Medium'
}

:lang(ar) .registration-form input,
:lang(ar) .registration-form select{
    font-size: 16px;
    line-height: 1;
}

:lang(ar) .closed-registration-text a{
    vertical-align: bottom;
}

:lang(ar) .thankyouPart::before, 
:lang(ar) .closed-registration-text:before,
:lang(ar) .thankyouPart::after, 
:lang(ar) .closed-registration-text:after{
    left: auto;
    right: 0;
}

:lang(ar) .hub-single-section {
    margin-left: 0;
    margin-right: 6.7vw;
}

:lang(ar) .three-items.hub-gallery-wrapper .download-link,
:lang(ar) .photo-gallery.hub-gallery-wrapper .full-image-control{
    right: auto;
    left: 0;
}

:lang(ar) .hub-gallery-wrapper .speaker-block-text h3 {
    padding-right: 0;
    padding-left: 35px;
}

/*:lang(ar) .gallery-left-block{*/
/*    margin-left: 15px;*/
/*    margin-right: 0;*/
/*}*/

:lang(ar) .jubilee-hub-image {
    margin: 0 20px 0 0;
}

:lang(ar)  .jubilee{
    background: url('assets/jubilee-top-bg.png') top left no-repeat,
                url('assets/jubilee-bottom-bg-mirror.png') bottom -6vh left no-repeat;
}

:lang(ar) .virtual-forum{
    background: url('assets/virtual-forum-bg-mirror.png') bottom left no-repeat;
}

:lang(ar) .survey{
    background: url('assets/survey-top-bg.png') top left no-repeat,
                url('assets/survey-bottom-bg-mirror.png') bottom left no-repeat;
}

:lang(ar) .additional{
    background: url('assets/additional-bottom-bg-mirror.png') top left -0.2vw no-repeat,
                url('assets/additional-top-bg-mirror.png') bottom left no-repeat;
}

:lang(ar) .video-gallery-section{
    background: url('assets/video-gallery-top-bg.png') top left no-repeat,
                url('assets/video-galery-bottom-bg-mirror.png') bottom left no-repeat;
}

:lang(ar)  .photo-gallery-section{
    background: url('assets/photo-gallery-top-bg-mirror.png') top left no-repeat;
}

@media screen and (max-width: 1600px){
    :lang(ar) .banner-content-bottom-text-date {
        padding-right: 0;
        padding-left: 50px;
    }
    :lang(ar) .banner-image-block{
        left: 11%;
    }
    :lang(ar) .two-fields-group p{
        margin-right: 0;
        margin-left: 30px;
    }
    :lang(ar) .section-title{
        font: normal normal normal 24px/1.14 'GE Dinar One Bold';
    }
}

@media screen and (max-width: 1440px){
    :lang(ar) .banner-content-bottom-text-block {
        max-width: 43.58%;
    }
    :lang(ar) .hub-single-section {
        margin-right: 2.7vw;
    }
    :lang(ar) .hub-video-gallery .view-more-btn {
        margin-right: 71px;
    }
    :lang(ar) .jubilee,
    :lang(ar) .virtual-forum,
    :lang(ar) .survey,
    :lang(ar) .additional,
    :lang(ar) .video-gallery-section,
    :lang(ar) .photo-gallery-section{
        background-size: 30%;
    }
}

@media screen and (max-width: 1200px){
    :lang(ar) .section-hub-container{
        margin: 50px 30px 0 0;
    }
    :lang(ar) .banner-content-bottom-text-block {
        max-width: 44.58%;
    }
    :lang(ar) .banner-content-bottom-text-title p:nth-child(2){
        margin: 0;
    }
}

@media screen and (max-width: 992px) {
    :lang(ar) .maincontent {
        margin-right: 0;
    }
    :lang(ar) .sidebar{
        transform-origin: right;
    }
    :lang(ar) .mobile-menu-btn {
        left: auto;
        right: 15px;
    }
    :lang(ar) .profile-content .maincontent{
        margin-right: 0;
    }
    :lang(ar) .banner-bottom-button-group {
        left: 8vw;
        right: auto;
        z-index: 100;
    }
    :lang(ar) .hub-video-gallery .view-more-btn {
        margin-right: 0;
    }
}

@media screen and (max-width: 767px){
    :lang(ar) .contact-form-container,
    :lang(ar) .contact-form,
    :lang(ar) .banner-content-bottom-text,
    :lang(ar) .section-text-content,
    :lang(ar) .speakers-block,
    :lang(ar) .venueses-block,
    :lang(ar) .partners-block,
    :lang(ar) .section-form-block,
    :lang(ar) .section-live-block,
    :lang(ar) .lobby-about-section .section-text-content,
    :lang(ar) .lobby-jubilee-lab-section .section-text-content,
    :lang(ar) .lobby-speakers-section .section-title,
    :lang(ar) .section-hub-container{
        margin: 0;
    }
    :lang(ar) .banner-content-bottom-text{
        padding-right: 0;
    }
    :lang(ar) .section-text-content {
        margin: 6.2% 0 0 7.8%;
    }
    :lang(ar) .lobby-about-section .section-text-content {
        margin-bottom: 190px;
    }
    :lang(ar) .banner-image-block {
        left: auto;
        right: 62.5%;
    }
    :lang(ar) .majlis-live-section{
        margin-right: 0;
        margin-left: -15px;
    }
    :lang(ar) .two-fields-group p{
        margin-left: 0;
    }
    :lang(ar) .banner-content-bottom-text-block {
        max-width: 100%;
    }
}

@media screen and (max-width: 600px){
    :lang(ar) .lobby-contact-us-section,
    :lang(ar) .lobby-venues-section,
    :lang(ar) .lobby-partners-section,
    :lang(ar) .lobby-speakers-section,
    :lang(ar) .lobby-mission-section,
    :lang(ar) .banner,
    :lang(ar) .majlis-live-section,
    :lang(ar) .hub-section{
        background: none;
    }
    :lang(ar) .banner {
        background: url('assets/banner-top-right-bg-mirror.png') top 56vh left/55vw no-repeat,                
                    url('assets/sc1_texture1.svg') bottom -10vh right 0vw/60vw no-repeat
    }
    :lang(ar) .about-image-block{
        height: 300px;
        width: 100%;
        right: 2vw;
        background: url('assets/rotate-bg-mirror.png') bottom left/64% 84% no-repeat,
                    url('assets/sc4_texture.svg') bottom right/26% auto no-repeat
    }
    :lang(ar) .about-image-block img {
        width: 80%;
    }
    :lang(ar) .lobby-about-section .small-bg{
        width: 85px;
        height: 43px;
        bottom: 0;
        right: 0;
    }
    :lang(ar) .mission-image-block {
        width: 100%;
        height: 300px;
        bottom: -2vw;
        left: 0;
        background: url('assets/mission-bottom-right-bg-rotate-mirror.png') bottom -16vh left/100% no-repeat,
                    url('assets/sc5_texture.svg') top -5vh left/53% 42% no-repeat
    }
    :lang(ar) .lobby-mission-section .small-bg {
        width: 150px;
        height: 145px;
        bottom: -13vh;
        right: 0;
    }
    :lang(ar) .lobby-mission-section {
        padding-bottom: 300px;
    }

    :lang(ar) .lobby-speakers-section {
        background: url('assets/sc6_texture.svg') top 2vh left/28vw 10vh no-repeat,
                    url('assets/mission-bottom-right-bg-mirror.png') top -84vh left 1.14vw/88.14vw 88vh no-repeat,
                    url('assets/mission-bottom-right-bg-mirror.png') bottom -15vh left -20vw/0vw 69vh no-repeat
    }
    :lang(ar) .jubilee-image-block{
        width: 80%;
        height: 300px;
    }
    :lang(ar) .lobby-jubilee-lab-section {
        background: url('assets/rotate-bg-mirror.png') top 46vh left 54vw/36vw 30vh no-repeat,
                    url('assets/sc8_texture.svg') top 30vh left 0vw/64vw 71vh no-repeat,
                    url('assets/mission-bottom-right-bg-rotate-mirror.png') bottom -91.8vh left/90vw 96vh no-repeat
    }
    :lang(ar) .banner-content-top-text{
        padding: 90px 0 0;
    }
    :lang(ar) .jubilee-image-block,
    :lang(ar) .about-image-block{
        bottom: 0;
        right: auto;
        left: 0;
    }
    :lang(ar) .section-header{
        padding: 40px 10px 20px 0
    }
    :lang(ar) .banner-image-block {
        left: auto;
        right: 0;
    }
    :lang(ar) .contact-form p,
    :lang(ar) .registration-form p {
        padding: 20px 35px 10px 0;
    }
    :lang(ar) .majlis-right-sidebar {
        left: 0;
    }
    :lang(ar) .live-agenda-modal {
        right: auto;
        left: 65px;
    }
    :lang(ar) .registration-form-content,
    :lang(ar) .login-form-content {
        padding: 0 15px 8vh 8vw;
    }
    :lang(ar) .lobby-about-section .section-text-content {
        margin-bottom: 320px;
    }
    :lang(ar) .banner-content-bottom-text-block {
        max-width: 100%;
    }
    :lang(ar) .above-speakers {
        padding: 30px 0 0 0;
    }
    :lang(ar) .bottom-nav-block{
        width: 38%;
        margin-bottom: 8vh;
    }
    :lang(ar) .banner-bottom-button-group{
        left: auto;
    }
    :lang(ar) .jubilee,
    :lang(ar) .virtual-forum,
    :lang(ar) .survey,
    :lang(ar) .additional{
        background-size: 65%;
    }
    :lang(ar) .video-gallery-section,
    :lang(ar) .photo-gallery-section {
        background-size: 45%;
    }
    :lang(ar)  .photo-gallery-section a,
    :lang(ar)  .video-gallery-section a,
    :lang(ar) .virtual-forum a,
    :lang(ar) .jubilee a{
        margin-left: 5px;
    }
    :lang(ar) .jubilee .hub-gallery-block{
        margin-left: 0;
    }
    :lang(ar)  .hub-gallery-wrapper .speaker-block .speaker-block-text {
        text-align: right;
    }
}

@media (max-height: 685px) and (min-width: 1000px){
    :lang(ar) .top-sticky-nav-section{
        width: calc(100vw - 16.5vw);
        right: 15.625vw;
        left: auto;
    }
}

@media (min-width: 1921px){
    :lang(ar) .top-sticky-nav-section{
        right: 15.625vw;
    }
}